{# Copyright (C) 2021, Bayerische Motoren Werke Aktiengesellschaft (BMW AG) #}
{#    Author: Alexander Domin (Alexander.Domin@bmw.de) #}
{# Copyright (C) 2021, ProFUSION Sistemas e Soluções LTDA #}
{#    Author: Gustavo Barbieri (barbieri@profusion.mobi) #}
{#    Author: Gabriel Fernandes (g7fernandes@profusion.mobi) #}
{#    Author: Leandro Ferlin (leandroferlin@profusion.mobi) #}
{#    Author: Leonardo Ramos (leo.ramos@profusion.mobi) #}
{# #}
{# SPDX-License-Identifier: MPL-2.0 #}
{# #}
{# This Source Code Form is subject to the terms of the #}
{# Mozilla Public License, v. 2.0. If a copy of the MPL was #}
{# not distributed with this file, You can obtain one at #}
{# http://mozilla.org/MPL/2.0/. #}
{# included by object_source_entry_query.cpp.jinja #}
{% macro object_source_entry_query_deploy(entry, field, deploy) %}
{% set parent_attribute = deploy.attribute %}
{% if field.is_list %}
    {% from 'object_source_entry_query_list.cpp.jinja' import object_source_entry_query_list -%}
    {{ object_source_entry_query_list(entry, field) }}
{%- elif deploy.entry_kind == 'dispatcher' %}
    {% from 'object_source_entry_query_deploy_' + deploy.entry_kind + '.cpp.jinja' import object_source_entry_query_deploy -%}
    {{ object_source_entry_query_deploy(entry, field, deploy.entries[0]) }}
{%- else %}
    {% from 'object_source_entry_query_return_modifier.cpp.jinja' import object_source_entry_query_return_modifier -%}
    {{ object_source_entry_query_return_modifier(field) }}
{%- endif %}
{%- endmacro %}
