{# Copyright (C) 2021, Bayerische Motoren Werke Aktiengesellschaft (BMW AG) #}
{#    Author: Alexander Domin (Alexander.Domin@bmw.de) #}
{# Copyright (C) 2021, ProFUSION Sistemas e Soluções LTDA #}
{#    Author: Gustavo Barbieri (barbieri@profusion.mobi) #}
{#    Author: Gabriel Fernandes (g7fernandes@profusion.mobi) #}
{#    Author: Leandro Ferlin (leandroferlin@profusion.mobi) #}
{#    Author: Leonardo Ramos (leo.ramos@profusion.mobi) #}
{# #}
{# SPDX-License-Identifier: MPL-2.0 #}
{# #}
{# This Source Code Form is subject to the terms of the #}
{# Mozilla Public License, v. 2.0. If a copy of the MPL was #}
{# not distributed with this file, You can obtain one at #}
{# http://mozilla.org/MPL/2.0/. #}
{# included by object_source_entry_query_deploy_custom.cpp.jinja #}
{% from '_macros.cpp.jinja' import custom_get_singleton, implementation_function_signature, make_cpp_type %}
{% macro object_source_entry_query_deploy_custom_return(entry, field, deploy) -%}

{% if deploy.uses_singleton %}
    {%- from 'object_source_entry_query_deploy_custom_return_from_singleton.cpp.jinja' import object_source_entry_query_deploy_custom_return_from_singleton -%}
    {{ object_source_entry_query_deploy_custom_return_from_singleton(entry, field, deploy) }}
{% else %}
    {%- from 'object_source_entry_query_deploy_custom_return_from_implementation.cpp.jinja' import object_source_entry_query_deploy_custom_return_from_implementation -%}
    {{ object_source_entry_query_deploy_custom_return_from_implementation(entry, field, deploy) }}
{% endif %}

{%- endmacro %}